<center>
    <h1>DatatableTon</h1>
    ðŸ’¯ datatable exercises
    <br>
    <br>
    <a href='https://github.com/vopani/datatableton/blob/master/LICENSE'>
        <img src='https://img.shields.io/badge/license-Apache%202.0-blue.svg?logo=apache'>
    </a>
    <a href='https://github.com/vopani/datatableton'>
        <img src='https://img.shields.io/github/stars/vopani/datatableton?color=yellowgreen&logo=github'>
    </a>
    <a href='https://twitter.com/vopani'>
        <img src='https://img.shields.io/twitter/follow/vopani'>
    </a>
</center>

<center>
    This is Set 6: Grouping Methods (Exercises 51-60) of <b>DatatableTon</b>: <i>ðŸ’¯ datatable exercises</i>
    <br>
    You can find all the exercises and solutions on <a href="https://github.com/vopani/datatableton#exercises-">GitHub</a>
</center>

**Prerequisites**
* The `datatable` package should be upgraded to the latest version (or v1.0.0+).
* The sample dataset [penguins](https://github.com/mwaskom/seaborn-data/blob/master/penguins.csv) from seaborn will be used for the exercises.

In [1]:
!python3 -m pip install -U pip
!python3 -m pip install -U datatable
!python3 -m pip install seaborn

Requirement already satisfied: pip in /opt/conda/lib/python3.7/site-packages (21.1.2)
Collecting pip
  Downloading pip-21.1.3-py3-none-any.whl (1.5 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1.5 MB 874 kB/s
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.1.2
    Uninstalling pip-21.1.2:
      Successfully uninstalled pip-21.1.2
Successfully installed pip-21.1.3
WARNING: Running pip as root will break packages and permissions. You should install packages reliably by using venv: https://pip.pypa.io/warnings/venv
Requirement already satisfied: datatable in /opt/conda/lib/python3.7/site-packages (1.0.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: seaborn in /opt/conda/lib/python3.7/site-packages (0.11.1)
Requirement already satisfied: pandas>=0.23 in /opt/conda/lib/python3.7/site-packages (from seaborn) (1.2.4)
Requirement already satisfied: numpy>=1.15 in /opt/conda/lib/python3.7/site-packages (from seaborn) (1.19.5)
Requirement already satisfied: scipy>=1.0 in /opt/conda/lib/python3.7/site-packages (from seaborn) (1.6.3)
Requirement already satisfied: matplotlib>=2.2 in /opt/conda/lib/python3.7/site-packages (from seaborn) (3.4.2)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.23->seaborn) (2021.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
import datatable as dt
from seaborn import load_dataset

data = dt.Frame(load_dataset('penguins'))
data.replace('NA', None)
data

**Exercise 51: Calculate the number of rows of each `species` in `data`**

In [3]:
data[:, dt.count(), dt.by(dt.f.species)]

**Exercise 52: Calculate the sum of `body_mass_g` by `island` in `data`**

In [4]:
data[:, dt.sum(dt.f.body_mass_g), dt.by(dt.f.island)]

**Exercise 53: Calculate the mean of `body_mass_g` by non-null `sex` in `data`**

In [5]:
data[dt.f.sex != None, :][:, dt.mean(dt.f.body_mass_g), dt.by(dt.f.sex)]

**Exercise 54: Calculate the maximum and minimum of `flipper_length_mm` together by `species` in `data`**

In [6]:
data[:, {'max_flipper_length': dt.max(dt.f.flipper_length_mm), 'min_flipper_length': dt.min(dt.f.flipper_length_mm)}, dt.by(dt.f.species)]

**Exercise 55: Calculate the median of `body_mass_g` by `species` and `sex` in `data`**

In [7]:
data[:, dt.median(dt.f.body_mass_g), dt.by([dt.f.species, dt.f.sex])]

**Exercise 56: Calculate the standard deviation of `bill_depth_mm` in cm instead of mm by `island` in `data`**

In [8]:
data[:, dt.sd(dt.f.bill_depth_mm / 10), dt.by(dt.f.island)]

**Exercise 57: Calculate the covariance between `flipper_length_mm` and `body_mass_g` by `species` and `island` in `data`**

In [9]:
data[:, dt.cov(dt.f.flipper_length_mm, dt.f.body_mass_g), dt.by(dt.f.species, dt.f.island)]

**Exercise 58: Calculate the absolute correlation between `bill_length_mm` and `bill_depth_mm` by `species` and `sex` in `data`**

In [10]:
data[:, dt.abs(dt.corr(dt.f.bill_length_mm, dt.f.bill_depth_mm)), dt.by(dt.f.species, dt.f.sex)]

**Exercise 59: Calculate the number of null values in `sex` by `island` in `data`**

In [11]:
data[dt.f.sex == None, :][:, dt.count(), dt.by(dt.f.island)]

**Exercise 60: Sort `data` on `bill_depth_mm` grouped by `sex` and assign it to `data_gs`**

In [12]:
data_gs = data[:, :, dt.by(dt.f.sex), dt.sort(dt.f.bill_depth_mm)]
data_gs

âœ… This completes Set 6: Grouping Methods (Exercises 51-60) of **DatatableTon**: *ðŸ’¯ datatable exercises*

#### Set 07 â€¢ Multiple Frames â€¢ Intermediate â€¢ Exercises 61-70

| Style | Colab | Kaggle | Binder | GitHub |
| ----- | ----- | ------ | ------ | ------ |
| Exercises | [![Open in Colab](https://img.shields.io/static/v1?label=&message=Open%20in%20Colab&labelColor=grey&color=blue&logo=google-colab)](https://colab.research.google.com/github/vopani/datatableton/blob/main/notebooks/07_multiple_frames_exercises.ipynb) | [![Open in Kaggle](https://img.shields.io/static/v1?label=&message=Open%20in%20Kaggle&labelColor=grey&color=blue&logo=kaggle)](https://www.kaggle.com/rohanrao/datatableton-multiple-frames-exercises) | [![Open in Binder](https://img.shields.io/static/v1?label=&message=Open%20in%20Binder&labelColor=grey&color=blue&logo=)](https://mybinder.org/v2/gh/vopani/datatableton/main?filepath=notebooks%2F07_multiple_frames_exercises.ipynb) | [![Open in GitHub](https://img.shields.io/static/v1?label=&message=Open%20in%20GitHub&labelColor=grey&color=blue&logo=github)](https://github.com/vopani/datatableton/blob/main/notebooks/07_multiple_frames_exercises.ipynb) |
| Solutions | [![Open in Colab](https://img.shields.io/static/v1?label=&message=Open%20in%20Colab&labelColor=grey&color=blue&logo=google-colab)](https://colab.research.google.com/github/vopani/datatableton/blob/main/notebooks/07_multiple_frames_solutions.ipynb) | [![Open in Kaggle](https://img.shields.io/static/v1?label=&message=Open%20in%20Kaggle&labelColor=grey&color=blue&logo=kaggle)](https://www.kaggle.com/rohanrao/datatableton-multiple-frames-solutions) | [![Open in Binder](https://img.shields.io/static/v1?label=&message=Open%20in%20Binder&labelColor=grey&color=blue&logo=)](https://mybinder.org/v2/gh/vopani/datatableton/main?filepath=notebooks%2F07_multiple_frames_solutions.ipynb) | [![Open in GitHub](https://img.shields.io/static/v1?label=&message=Open%20in%20GitHub&labelColor=grey&color=blue&logo=github)](https://github.com/vopani/datatableton/blob/main/notebooks/07_multiple_frames_solutions.ipynb) |

You can find all the exercises and solutions on [GitHub](https://github.com/vopani/datatableton#exercises-)